<template>
    <lightning-card title="User Statistics">
        <div style="height: 200px;">
            <lightning-datatable
                    key-field="id"
                    data={data}
                    columns={columns}>
            </lightning-datatable>
        </div>  
    </lightning-card>
</template>