<template>
    <lightning-card title="Business Sales Method">
        <div class="slds-text-align_center">Please choose first and second Operating Region to get the table overview.</div>
        <template if:true={firstOperatingRegionOptions}>
            <div class="slds-grid">
                <div class="slds-col">
                    <lightning-combobox name="firstRegion"
                        label="First Operating Region"
                        value={firstValue}
                        placeholder="-Select-"
                        options={firstOperatingRegionOptions}
                        onchange={handleChangeOfFirstPicklist} >
                    </lightning-combobox>
                </div>
                <div class="slds-col"> 
                    <lightning-combobox name="secondRegion"
                        label="Second Operating Region"
                        value={secondValue}
                        placeholder="-Select-"
                        options={secondOperatingRegionOptions}
                        onchange={handleChangeOfSecondPicklist} >
                    </lightning-combobox>
                </div>
            </div>
        </template>
        <template if:true={dataToDisplay}>
            <table class="slds-table slds-table_bordered">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col">
                            <div title="RegionName">Region Name (Sum of All sales)</div>
                        </th>
                        <th scope="col">
                            <div title="BusinessName">Business Name</div>
                        </th>
                        <th scope="col">
                            <div title="Sales">Sales</div>
                        </th>
                        <th scope="col">
                            <div title="operatingRegion">Operating Region</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={dataToDisplay} for:item="businessWrapper">
                        <template for:each={businessWrapper.business} for:item="business">
                            <tr key={business.Id} class="slds-line-height_reset">
                                <template if:true={business.isDisplayed}>
                                    <td rowspan={businessWrapper.businessLen}>
                                        <div>{businessWrapper.operatingRegion} (${businessWrapper.sumOfSales})</div>
                                    </td>
                                </template>
                                <td>
                                    <div>{business.Name}</div>
                                </td>
                                <td>
                                    <div>{business.Sales__c}</div>
                                </td>
                                <td>
                                    <div>{businessWrapper.operatingRegion}</div>
                                </td>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </template>
        <template if:true={noDataToDisplay}>
            <div class="slds-text-align_center slds-text-color_error">There are no rows for given regions.</div>
        </template>
    </lightning-card>
</template>